---

---

<footer>
  <div class="copyright">
    <span>&copy; FM Veranstaltungstechnik</span>
    <div>
      <a href="/impressum"><span>Impressum</span></a>
      <span>|</span>
      <a href="/datenschutz"><span>Datenschutz</span></a>
    </div>
  </div>

  <style>
    footer {
      position: relative;
      width: calc(100% - var(--content-border) * 2);
      margin-inline: auto;
      background: var(--black);
      color: var(--white);
      font-size: 0.875rem;
      padding: 1rem var(--content-border);
      text-align: center;
      border-top: 0.125rem solid var(--color-white);
      height: 2.75rem;
    }

    .copyright > span {
      display: block;
      margin-bottom: 0.3125rem;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  </style>

  <script is:inline>
    const main = () => {
      const el = document.querySelector('.copyright > span');
      if (!el) return;

      const currentYear = new Date().getFullYear();
      el.textContent = `© 2023-${currentYear} FM Veranstaltungstechnik`;
    };
    main();
  </script>
</footer>
