---
import { Image } from 'astro:assets';

import { instagramLink } from '../env.ts';

import RedactedPhoneIcon from './RedactedPhoneIcon.astro';

import fmLogo from '../assets/fm-logo.svg';
import phoneOutlineIcon from '../assets/phone-outline-icon.svg';
import cameraIcon from '../assets/camera-icon.svg';
---

<header>
  <a href="/#" class="logo">
    <Image src={fmLogo} alt="FM Veranstaltungstechnik Logo" />
  </a>
  <input type="checkbox" id="nav-toggle" />
  <nav>
    <ul>
      <li>
        <a href="/#">Home</a>
      </li>
      <li>
        <a href="/#services">Services</a>
      </li>
      <li>
        <a href="/#galerie">Galerie</a>
      </li>
      <li>
        <a href="/#kontakt">Kontakt</a>
      </li>
    </ul>
  </nav>
  <label for="nav-toggle">
    <span></span>
  </label>
  <div class="social-container">
    <RedactedPhoneIcon icon={phoneOutlineIcon} alt="" />
    <a href={instagramLink} aria-label="Zu unserem Instagram" title="Link zu unserem Instagram">
      <Image src={cameraIcon} alt="" />
    </a>
  </div>

  <style>
    header {
      background: var(--color-black);
      text-align: center;
      position: fixed;
      z-index: 99;
      width: 100%;
      height: 3.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1875rem;
      filter: drop-shadow(0 0.25rem 0.25rem #00000040);
      outline: 1px solid var(--color-gray-700);
    }

    .logo {
      left: 0;
      line-height: 1;
      filter: invert(1);
      padding: 0.1875rem;
    }

    img {
      height: 2.75rem;
      width: auto;
      display: block;
    }

    .social-container {
      position: absolute;
      right: calc(var(--section-padding) - 0.5rem);
      line-height: 1;
    }

    .social-container a {
      display: inline-block;
      position: relative;
      height: auto;
      padding: 0.5rem;
    }

    .social-container img {
      display: inline-block;
      height: 1.8rem;
      width: auto;
      filter: invert(1);
    }

    label {
      position: absolute;
      left: 0;
      height: auto;
      margin-left: calc(var(--section-padding) - 0.75rem);
      padding: 1.5rem 0.75rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: transform 250ms ease-in-out;
    }

    label span,
    label span::before,
    label span::after {
      display: block;
      background: var(--color-white);
      height: 2px;
      width: 1.75rem;
      border-radius: 1.5rem;
      position: relative;
      transition: transform 250ms ease-in-out;
    }

    label span::before,
    label span::after {
      content: '';
      position: absolute;
    }

    label span::before {
      bottom: 8px;
    }

    label span::after {
      top: 8px;
    }

    nav {
      position: absolute;
      text-align: left;
      top: 100%;
      background: var(--color-black);
      width: 100%;
      left: 0;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 250ms ease-in-out;
      border-bottom: 1px solid var(--color-gray-700);
    }

    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    nav li {
      margin-bottom: calc(var(--section-padding) - 0.5rem);
      margin-left: 0.5rem;
    }

    nav li:first-of-type {
      margin-top: 0.25rem;
    }

    nav a {
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 0.5rem;
      opacity: 0;
    }

    .logo,
    nav a,
    .social-container a {
      transition: opacity 100ms ease-in-out;
    }

    .logo:hover,
    nav a:hover,
    .social-container a:hover {
      opacity: 0.5;
    }

    input {
      display: none;
    }

    input:checked ~ nav {
      transform: scale(1, 1);
    }

    input:checked ~ nav a {
      opacity: 1;
      transition: opacity 150ms ease-in-out 200ms;
    }

    input:checked ~ label {
      opacity: 1;
      transform: rotate(90deg);
    }

    input:checked ~ label span {
      transform: rotate(45deg);
    }

    input:checked ~ label span::before {
      transform: translateY(8px);
    }

    input:checked ~ label span::after {
      transform: translateY(-8px) rotate(-90deg);
    }

    @media screen and (min-width: 690px) {
      label {
        display: none;
      }

      header {
        left: 0;
        right: 0;
        display: flex;
        max-width: var(--max-width);
        width: calc(100% - var(--content-border) * 2);
        margin-inline: auto;
        padding-inline: var(--content-border);
        outline: none;
      }

      header::before {
        position: absolute;
        content: '';
        left: -100vw;
        right: 100vw;
        width: 300vw;
        height: 100%;
        background: inherit;
        outline: 1px solid var(--color-gray-700);
      }

      .logo {
        z-index: 99;
      }

      nav {
        all: unset;
        position: relative;
        width: 100%;
        height: 100%;
      }

      nav ul {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        height: 100%;
        margin-left: 1.75rem;
      }

      nav li {
        margin: 0;
        display: flex;
        align-items: center;
      }

      nav li:first-of-type {
        margin: 0;
      }

      nav a {
        opacity: 1;
        padding: 0;
      }

      nav li::after {
        content: '|';
        margin-left: 1rem;
      }

      nav li:last-of-type::after {
        all: unset;
      }
    }
  </style>

  <script is:inline>
    const fromURL = new URL(window.location.href);
    setTimeout(() => history.replaceState(null, '', fromURL.pathname), 500);

    const navItems = document.querySelectorAll('header a');
    navItems.forEach((item) => {
      if (item.href.endsWith('#')) item.href = item.href.slice(0, -1);
      let toURL = new URL(item.href);

      item.addEventListener('click', (e) => {
        e.preventDefault();

        document.querySelector('#nav-toggle').checked = false;

        if (fromURL.pathname !== toURL.pathname) {
          return setTimeout(() => (window.location.href = toURL.href), screen.width <= 690 ? 250 : 1);
        }
        toURL.hash.length == 0 ? window.scrollTo(0, 0) : document.querySelector(toURL.hash)?.scrollIntoView();
      });
    });
  </script>
</header>
