---

---

<a class="p">[AUS DATENSCHUTZ&shy;GRÜNDEN AUSGEBLENDET]</a>

<style>
  a {
    color: inherit;
    text-decoration: underline;
    transition: opacity 0.1s ease-in-out;
  }

  a:hover {
    opacity: 0.5;
  }
</style>

<script is:inline>
  var el = document.querySelector('.p');
  el.textContent = `\u002b\u0034\u0039\u0020\u0031\u0035\u0031\u0020\u0035\u0034\u0038\u0038\u0032\u0039\u0032\u0036`;
  el.href = `\u0074\u0065\u006c\u003a${el.textContent.replace(/\s/g, '')}`;
</script>
