---
import { Image } from 'astro:assets';

import starRating from '../assets/5-star-rating.svg';

export interface Props {
  image: ImageMetadata;
  name: string;
  body: string;
}

const { image, name, body } = Astro.props;
---

<div class="review-card">
  <div class="reviewer">
    <Image src={image} alt={'Profilbild von ' + name} />
    <h3>{name}</h3>
  </div>
  <Image class="rating" src={starRating} alt="Icon mit fünf goldenen Sternen" />
  <p set:html={body} />
</div>

<style>
  .review-card {
    border-radius: 1rem;
    background: var(--color-blue-800);
    width: 20rem;
  }

  .reviewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.1875rem 1.1875rem 0.625rem;
    width: auto;
  }

  .reviewer img {
    height: 3.25rem;
    width: auto;
    aspect-ratio: 1/1;
  }

  .reviewer > h3 {
    margin-left: 0.875rem;
    width: 100%;
    font-family: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: 1.375rem;
    text-align: left;
  }

  .rating {
    height: 1.125rem;
    width: auto;
    aspect-ratio: 75/11;
    margin: 0 1.1875rem 0.625rem;
    display: block;
  }

  p {
    margin: 0 1.1875rem 1.25rem;
    text-align: justify;
  }
</style>
