---
interface Props {
  title1: string;
  text1: string;
  title2: string;
  text2: string;
}

const { title1, text1, title2, text2 } = Astro.props;
---

<section>
  <div class="column1">
    <h2 set:html={title1} />
    <p set:html={text1} />
  </div>
  <div class="column2">
    <h2 set:html={title2} />
    <p set:html={text2} />
  </div>
</section>

<style>
  section {
    max-width: calc(var(--max-width) + var(--content-border) * 2);
    width: 100%;
    margin-inline: auto;
    background: radial-gradient(var(--color-blue-900), var(--color-black));
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .column1 > *,
  .column2 > * {
    margin-inline: var(--content-border);
  }

  .column1 h2 {
    padding: 5rem 1.25rem 2rem;
  }

  .column2 h2 {
    padding: 0 1.25rem 2rem;
  }

  p {
    background: var(--color-blue-800);
    padding: 1.1875rem 1.25rem;
    border-radius: 1rem;
    height: 100%;
    margin-bottom: 1.5rem;
  }

  @media (min-width: 700px) {
    section {
      flex-wrap: nowrap;
    }

    div {
      width: 50%;
    }

    .column1 > * {
      margin-inline: var(--content-border) 0;
    }

    .column2 > * {
      margin-inline: 0 var(--content-border);
    }

    .column2 h2 {
      padding: 5rem 1.25rem 2rem;
    }
  }
</style>
